@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.app
{
  background-color:rgba(11, 7, 22, 1);
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nokora-thin {
  font-family: "Nokora", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.nokora-light {
  font-family: "Nokora", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nokora-regular {
  font-family: "Nokora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nokora-bold {
  font-family: "Nokora", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nokora-black {
  font-family: "Nokora", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* home page css */
.homecenter
{

width: 200px;
height: 262px;
background: #592E83;
filter: blur(100px);

}

.homecenter p
{
  color: white;
  font-size: 20px;
  font-family: 'Nokora', serif;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}

.reachusbuttonhomepage {
  font-family: Nourd-SemiBold;
  background: linear-gradient(to left, rgba(89, 46, 131, 1), rgba(153, 132, 212, 1));
}